<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
<script src="/js/jquery-plugins/jquery-3.6.0.min.js"></script>
<script src="/js/jquery-plugins/jquery.ui.datepicker.min.js"></script>
<script src="/js/jquery-plugins/jquery-ui/jquery-ui.js"></script>
<script src="/js/jquery-plugins/timepicker/jquery.timepicker.min.js" ></script>
<script src="/js/jquery-plugins/toast/toastr.min.js"></script>
<script src="/js/jquery-plugins/math.js"></script>
<script src="/js/jquery-plugins/jquery.numbox-1.3.0/jquery.numbox-1.3.0.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/jquery-plugins/jquery.twbsPagination.min.js"></script>
<script src="/js/jquery-plugins/momentjs/moment.min.js"></script>
<script src="/js/jquery-plugins/momentjs/moment-timezone-with-data.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
<script src="/js/jquery-plugins/jquery.min.js"></script>
<script src="/js/jquery-plugins/diff.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery.ui.datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js" ></script>
<script src="/js/toast/toastr.min.js"></script>
<!-- bowser cdn -->
<script src="https://unpkg.com/bowser@2.7.0/es5.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>

<script>

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyBV0LY_DbV4JJldoDfcbIl2fhaQLVE5iFk",
        authDomain: "form-75ea5.firebaseapp.com",
        projectId: "form-75ea5",
        storageBucket: "form-75ea5.appspot.com",
        messagingSenderId: "221145993985",
        appId: "1:221145993985:web:e1a5bc6f1d2f4feb430100",
        measurementId: "G-EQWDS4B7XY"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

</script>

