<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/new-style.css">
<link rel="stylesheet" href="/js/jquery-plugins/toast/toastr.min.css"  type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css"/>
<link rel="stylesheet" href="/js/toast/toastr.min.css"/>
<link rel="stylesheet" href="/js/loading/loading.css"/>
