<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-center" style="z-index:3;width:250px;" id="mySidebar" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><br>
    <div class="w3-container">
        <img src="/image/user.png" style="width:28%;" class="w3-image w3-circle w3-grayscale"><br>
        <h4 ><b><span>Hello</span></b></h4>
    </div>
    <div class="w3-bar-block">
        <a href="/dashboard" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5"><i class="fad fa-th-large fa-fw w3-large w3-margin-right" ></i><span>Dashboard</span></a>
        <a href="/employee" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5 role-user-block"><i class="fad fa-address-book w3-large fa-fw w3-margin-right"></i><span>Employee</span></a>
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5 role-user-block"><i class="fad fa-calculator-alt w3-large fa-fw w3-margin-right"></i><span>Overtime</span></a>
        <a href="/passcode" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5"><i class="fad fa-lock-alt fa-fw w3-large w3-margin-right"></i><span>Security</span></a>
        <a href="/language" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5"><i class="fad fa-globe-asia w3-large fa-fw w3-margin-right"></i><span>Language</span></a>
        <a href="/appearance" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5"><i class="fad fa-palette w3-large fa-fw w3-margin-right"></i><span>Appearance</span></a>
        <a href="/about-developer" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5"><i class="fad fa-code w3-large fa-fw w3-margin-right"></i><span>Developer</span></a>
        <a onclick="logOut()" class="w3-bar-item w3-button w3-padding w3-hover-blue link-5" ><i class="fad fa-sign-out fa-fw w3-large w3-margin-right"></i><span>Logout</span></a>
    </div>
</nav>