body {font-family: 'Khmer', 'Open Sans', sans-serif;}
		
		/*input[type=text], input[type=password] {*/
		/*  width: 100%;*/
		/*  padding: 12px 20px;*/
		/*  margin: 4px 0;*/
		/*  display: inline-block;*/
		/* border: 1px solid #e5e7eb;*/
		/*	border-radius: .5rem;*/
		/*  box-sizing: border-box;*/
		/*  */
		/*}*/
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #e5e7eb;
	/*border-radius: .5rem;*/
	box-sizing: border-box;

}
		
		input[type=text]:focus, input[type=password]:focus, button:focus {
		  border-color: #caccce;
		  outline: 0;
		}
		
		button {
		  background-color: #2196f3;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  cursor: pointer;
		  width: 100%;
		}
		
		button:hover {
		  opacity: 0.8;
		}
		
		.cancelbtn {
		  width: auto;
		  padding: 10px 18px;
		  background-color: #f44336;
		}
		
		.imgcontainer {
		  text-align: center;
		  margin: 24px 0 12px 0;
		}
		
		img.avatar {
		  width: 40%;
		  border-radius: 50%;
		}
		
		.container {
		  padding: 16px;
		}
		
		span.psw {
		  float: right;
		  padding-top: 16px;
		}
		.gl-field-error {
		    color: #db3b21;
		    margin-top: 5px;
		}
		
		.gl-text-box-error{
			border:1px solid #e14421 !important;
			border-radius: .375rem;
			transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		}
		/* Change styles for span and cancel button on extra small screens */
		@media    screen and (max-width: 300px) {
		  span.psw {
		     display: block;
		     float: none;
		  }
		  .cancelbtn {
		     width: 100%;
		  }
		}
		
		.t1 {
			background-image:url(../image/image1.jpg);
		    background-repeat: no-repeat;
		    background-position: 50%;
		    background-size: cover;
		    height: 100vh!important;
		}
		button {
		    border: 1px solid #e5e7eb;
			/*border-radius: .5rem;*/
		}
		
		.w3-google{
			background: #fff;
			color:#000;
		}
		.w3-github{
			background: #212121;
		}
		.w3-facebook{
			background: #3B5998;
		}
		.w3-phonenumber{
			background: #009688;
		}
		
		
		.w3-digits {
		  -webkit-transition: none;
		  transition: none;
		  height: 40px;
		  text-align: center
		}

		.w3-digits:focus {
		  color: #3F4254;
		  background-color: #ffffff;
		  border-color: #884377;
		  outline: 0;
		}



		#otp > input[type=text]{
			padding: 0;
		}
.lds-spinner {
	position: absolute;
	left: 50%;
	top: 43%;
	z-index: 20;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	/*color: official;*/
	/*display: inline-block;*/
	/*position: relative;*/
	/*width: 80px;*/
	/*height: 80px;*/
}
.lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.5s linear infinite;
}
.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #2196F3;
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.4s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1.3s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -1.2s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -1.0s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: -0.2s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.overlay{
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgb(239 229 229 / 50%);
	visibility: hidden;
}
.my-error-input {
	border-color:#d7191f!important;
}

.my-error-message {
	display:none;
	color:red;
}